<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_config"
        tools:targetApi="n">
        <activity android:name=".base.BaseActivity"/>
        <activity android:name=".activity.MainActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".retrofit.RetrofitActivity"/>
        <activity android:name=".activity.MaterialDesignActivity"/>
        <activity android:name=".activity.ConstraintActivity"/>
        <activity android:name=".jetpack.paging3.PagingActivity"/>
        <activity android:name=".activity.ViewPager2Activity"/>
        <activity android:name=".activity.TransformActivity"/>
        <activity android:name=".activity.MotionActivity"/>
        <activity android:name=".study.flow.FlowActivity"/>
        <activity android:name=".study.motion.MotionSingleTranslationActivity"/>
        <activity android:name=".study.motion.MotionMultiTranslationActivity"/>
        <activity android:name=".study.motion.MotionKeyPositionActivity"/>
        <activity android:name=".study.motion.MotionKeyAttributeActivity"/>
        <activity android:name=".study.motion.MotionKeyCycleActivity"/>
        <activity android:name=".study.motion.MotionCustomActivity"/>
        <activity android:name=".study.motion.MotionWithAppBarActivity"/>
        <activity android:name=".activity.MarkActivity"/>
        <activity android:name=".task.mutildelivery.DeliveryActivity"/>
        <activity android:name=".task.appbar.AppBarActivity"/>
        <activity android:name=".task.linkage.LinkageActivity"/>
        <activity android:name=".study.mvi.MviSampleActivity"/>
        <activity android:name=".task.microenterprises.view.home.MicroResumeHomeFragment"/>
        <activity android:name=".task.jobtag.card.RecommendJobActivity"/>
        <activity android:name=".task.search.PositionSearchBridgeActivity"/>
        <activity android:name=".task.searchresult.PositionSearchResultActivity"/>
        <activity android:name=".compose.ComposeActivity"/>
        <activity android:name=".compose.CollectActivity"/>
        <activity android:name=".compose.WechatSendActivity"/>
        <activity android:name=".task.jobdetail.JobDetailActivity"/>
        <activity android:name=".task.ai.AiRecommendActivity"/>
        <activity android:name=".task.resume.ResumeRecommendActivity"/>
        <activity android:name=".task.blueedit.activity.BlueResumeEditActivity"/>

        <!-- 定义Startup Provider参数 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.example.kotlindemo.jetpack.startup.SampleInitializer"
                android:value="android.startup"/>
        </provider>

    </application>

</manifest>